<button class="btn btn-outline-primary" routerLink="/create-shipper">Add Shipper</button>

<button class="btn btn-outline-primary" routerLink="/shipper-edit/1">Edit Shipper</button>

<!-- Shippers list table, it hides when there is no shipper -->
<div *ngIf="Shippers.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Shipper Id</th>
			<th scope="col">Company Name</th>
			<th scope="col">Phone</th>
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let shipper of Shippers">
			<td>{{shipper.id}}</td>
			<td>{{shipper.name}}</td>
			<td>{{shipper.phone}}</td>
			<td>
			  <a [routerLink]="['/shipper-edit/', shipper.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteShipper(shipper.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>



